html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
}

nav {
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    position: absolute;
}

nav ul {
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
}

nav ul li:nth-child(1) {
    font-weight: bold;
    color: white;
}

#social_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    gap: 10px;
}


#social_div img {
    height: 30px;
}

#social_div img:hover {
    transform: scale(1.3);
}

section {
    width: 100vw;
    height: 100vh;
}

#hero_section {
    background-color: #eb5e34;
    display: flex;
    height: 85vh;
}

#carousel {
    height: 15vh;
    width: 100vw;
    background-color: #18191A;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero_left {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    background-color: #f99965;
    display: flex;
    align-items: center;
    color: white;
}

#hero_left h1 {
    font-size: 70px;
    display: flex;
}

#hero_left p {
    font-size: 1.5em;
    font-weight: bold;
}

#hero_left small {
    font-weight: 200;
}
 
#hero_right {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    background-color: #fa6934;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#hero_right img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

#hero-text {
    width: 70%;
    margin-left: 10%;
    height: 60%;
    color: white;
}

#center-button {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
    background-color: white;
    left: 47vw;
    top:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-button {
    font-size: small;
    box-shadow: 1px 1px 2px gray, -1px 1px 2px gray;
}

#center-button p{
    text-align: center;
    font-weight: bold;
}

#center-button:hover, #center-button:focus {
    transform: scale(1.5);
    
}
#animate-text {
    height: 60px;
    color:#fff;
    overflow: hidden;
    width: 90%;
    text-align: center;
    display: flex;
    gap: 10%;
}

.text {
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
}

.text:first-child {
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-duration: 10s;
    animation-delay: 1s;
}

@keyframes slide {
    0%{
    }
    12.5% {
        margin-left: -25vw;
    }
    25% {
        margin-left: -50vw;
    }
    37.5% {
        margin-left: -75vw;
    }
    50%{
        margin-left: -100vw;
    }
    62.5% {
        margin-left: -75vw ;
    }
    75% {
        margin-left: -50vw;
    }
    87.5% {
        margin-left: -25vw;
    }
    100%{
        margin-left: 0%;
    }
}

#about_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#fa6934;

}

#about_section img {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    border-radius: 200px;
    object-fit: contain;
    object-position: bottom;
    background-color: #f99965;
}

#about-text {
    width: 600px;
    height: 350px;
    border: 2px solid black;
    padding: 20PX;
}

#about-text h2 {
    text-align: center;
}

#project_section {
    background-color: #f99965;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#projects {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project {
    border: 3px solid black;
    border-radius: 10px;
    width: 18%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 30px;
}

.project img{
    width: 100%;
    height: 40%;
    text-align: center;
    border-bottom: 2px solid black;
}

.project p {
    width: 90%;
    text-align: center;
    height: 40%;
}

.project button {
    background-color: #18191A;
    border: 1px solid #18191A;
    color: white;
    border-radius:5px ;
    position: relative;
    bottom: 10px;
}

.project button a, .project button a:visited {
    color:white;
    text-decoration: none;
}

.project button:hover {
    transform: scale(1.2);
}

h3 {
    animation-name: dance;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#footer-div {
    background-color: #18191A;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer {
    color: white;
    text-align: center;
}

@keyframes dance {
    from {
        transform: scale(.8) rotate(-5deg);
        color: red;
    }
    to {
        transform: scale(1.2) rotate(5deg);
        color: blue;

    }
}

@media (min-width:825px) and (max-width:1200px) {
    #hero_left h1 {
        font-size: 50px;
    }

    #about-text  {
        color: red;
        font-size: small;
        width: 400px;
        height: 25vw;

    }
    #about_section img {
        width: 25vw;
        height: 25vw;
        border: 3px solid black;
        border-radius: 12.5vw;
        object-fit: contain;
        object-position: bottom;
        background-color: #f99965;
    }
    
}

@media  (min-width:1200px) and (max-width:1400px){
    #hero_left h1 {
        font-size:70px ;
    }
}

